.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
ENV
env
db.sqlite3-journal
.DS_Store
*.log
*.pot
*.pyc
local_settings.py
.idea
.vscode
*.swp
*.swo
logs/*
staticfiles/admin
media/*